<configuration>
 <system.webServer>
  <staticContent>
    <remove fileExtension=".dat" />
    <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
   <remove fileExtension=".hiro" />
    <mimeMap fileExtension=".hiro" mimeType="application/octet-stream" />
   <remove fileExtension=".patt" />
    <mimeMap fileExtension=".patt" mimeType="application/octet-stream" />
    <remove fileExtension=".obj" />
    <mimeMap fileExtension=".obj" mimeType="application/octet-stream" />
  <remove fileExtension=".mtl" />
    <mimeMap fileExtension=".mtl" mimeType="application/octet-stream" />
   <remove fileExtension=".ply" />
    <mimeMap fileExtension=".ply" mimeType="application/octet-stream" />
   <remove fileExtension=".dae" />
    <mimeMap fileExtension=".dae" mimeType="application/octet-stream" />
  </staticContent>
</system.webServer>
</configuration>